---
import { siteConfig } from "@/config/site";
import { cn } from "@/lib/utils";
import { Icon } from "astro-icon";

type Props = {
  className?: string;
};

const { className } = Astro.props;
---

<footer class={cn(className)}>
  <div
    class="container flex flex-col items-center justify-between gap-4 py-10 md:h-24 md:flex-row md:py-0"
  >
    <div
      class="flex flex-col items-center gap-4 px-8 md:flex-row md:gap-2 md:px-0"
    >
      <a href="/co2-emission-tracker" aria-label="CO2 Web Emissions homepage">
        <Icon name="leaf" class="size-8" /></a
      >

      <p class="text-center text-sm leading-loose md:text-left balance-text">
        Built by{" "}
        <a
          href={siteConfig.links.twitter}
          target="_blank"
          rel="noreferrer"
          class="font-medium underline underline-offset-4"
        >
          cdt5058
        </a>
         . Based on{" "}
        <a
          href="https://github.com/mickasmt/astro-nomy"
          target="_blank"
          rel="noreferrer"
          class="font-medium underline underline-offset-4"
        >
          mickasmt/astro-nomy
        </a> &amp;{" "}
        <a
          href="https://github.com/shadcn-ui/taxonomy"
          target="_blank"
          rel="noreferrer"
          class="font-medium underline underline-offset-4"
        >
          shadcn-ui/taxonomy
        </a>
         .
      </p>
    </div>
  </div>
</footer>
