---
import MainLayout from "@/layouts/main-layout.astro";
---

<MainLayout
  title="About CO2 Web Emissions Tracker"
  description="A brief description about this site."
  mainClass="container py-10"
>
  <div class="max-w-2xl mx-auto p-5">
    <h1 class="text-3xl font-bold mb-4">About CO2 Web Emissions Tracker</h1>

    <h2 class="text-2xl font-semibold mt-5 mb-2">Our Mission</h2>
    <p class="mb-4">In today's digital age, every online action has an environmental footprint. While it's widely known that industries like travel and manufacturing contribute to carbon emissions, what's less known is the impact of the digital world. Our mission is to shed light on this overlooked aspect by providing clear, accessible data on the carbon emissions associated with visiting various websites, from government portals to social media giants.</p>

    <h2 class="text-2xl font-semibold mt-5 mb-2">What We Do</h2>
    <p class="mb-4">Our platform meticulously tracks and presents the carbon emissions data for a broad spectrum of websites. These include:</p>
    <ul class="list-disc list-inside mb-4">
        <li><strong>Federal Websites:</strong> Understand the environmental impact of visiting major federal digital platforms.</li>
        <li><strong>State and Local Websites:</strong> Get insights into how state and local government websites compare in terms of their digital carbon footprint.</li>
        <li><strong>Major Social Networks and Online Platforms:</strong> See how popular sites like Facebook and X fare against each other and government sites in their environmental impact.</li>
    </ul>

    <h2 class="text-2xl font-semibold mt-5 mb-2">How It Works</h2>
    <p class="mb-4">We employ a robust methodology to analyze the data transfer involved when you visit a website. Each byte of data transferred has an associated carbon footprint, depending on whether the site is hosted on green (renewable energy) servers or not. Our platform:</p>
    <ol class="list-decimal list-inside mb-4">
        <li>Measures the Total Data Transfer: We use advanced tools to simulate visits to websites and measure the total bytes transferred during the visit.</li>
        <li>Assesses Green Hosting: We check if websites are hosted on green servers, which significantly reduces their carbon footprint.</li>
        <li>Calculates Carbon Emissions: By integrating these factors, we estimate the carbon emissions for each website visit.</li>
    </ol>

    <h2 class="text-2xl font-semibold mt-5 mb-2">Why It Matters</h2>
    <p class="mb-4">In our quest for digital transformation, it's crucial to stay informed about the environmental cost of our online activities. By providing this data, we aim to:</p>
    <ul class="list-disc list-inside mb-4">
        <li>Raise Awareness: Highlight the less-discussed environmental impact of digital services.</li>
        <li>Drive Change: Encourage websites, especially influential government and social platforms, to adopt greener hosting solutions.</li>
        <li>Empower Users: Offer insights to help you make more environmentally conscious choices in your digital life.</li>
    </ul>

    <h2 class="text-2xl font-semibold mt-5 mb-2">Join Us</h2>
    <p class="mb-4">Explore our platform to discover the environmental impact of your most-visited websites. Together, we can pave the way toward a more sustainable digital future.</p>
  </div>
</MainLayout>
